.responsive {
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    height: 100% ;
}


.contenido {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: auto;
    grid-auto-rows: auto;
    grid-template-areas:
      "a b"
      "a b";
  
    align-items: start;
  
  }
  .square2 {
    grid-area: a;
  }
  #square1 {
    grid-area: b;
  }




.fondo
{
    padding: 232px 0 180px;
    background-color: #00C1CA ;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.sec-info h2{
    font-size: 53px;
    color: #eeeeee;
    margin-bottom: 32px;
    padding-right: 5px;
}
.sec-info p{
    color: #eeeeee;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 42px;
}
.sec-info a{
    background-color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #eeeeee;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 17px 32px;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
}
.sec-info a:hover{
    background-color: #ff517b;
    color: #000;
    border: 2px solid #ff517b;
}

/* **************************VideoPlay-section starts************************ */
.videoPlay{
    padding: 114px 0 86px;
}
.vidHeading h2{
    font-size: 31px;
    color: #393636;
    text-transform: uppercase;
    margin-bottom: 26px;
}
.vidHeading h3{
    font-size: 28px;
    color: #393636;
    margin-bottom: 64px;
}
.videoThumb{
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url('../images/videoImg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 540px;
    border-radius: 5px;
    position: relative;
}
.playBtn img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.playBtn img:hover{
    transform: translate(-50%, -50%) scale(0.5);
}
/* **************************Cards-section starts************************ */
.cards{
    background-color: #f7f3f7;
    padding: 125px 0;
}
.card-info{
    width: 373px;
    height: 363px;
    background-color: #fff;
    padding: 86px 40px 63px;
    box-shadow: 0 0 5px 5px #e3e4e3;
    transition: all 0.3s ease-in-out;
}
.card-info:hover{
    background-color: #ff517b;
    color: #fff;
    transform: scale(1.08);
}
.card-info i{
    font-size: 40px;
    color: #313431;
    margin-bottom: 22px;
    transition: all 0.3s ease-in-out;
}
.card-info h5{
    font-size: 21px;
    color: #4a4c4c;
    padding-bottom: 17px;
    transition: all 0.3s ease-in-out;
}
.card-info hr{
    width: 48px;
    margin: 0 auto;
    height: 3px;
    background-color: #ff517b;
    margin-bottom: 33px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.card-info:hover hr{
    background-color: #fff;
}
.card-info p{
    font-size: 14px;
    color: #242725;
    transition: all 0.3s ease-in-out;
}
.card-info:hover i, .card-info:hover h5, .card-info:hover p{
    color: #fff;
}
/* **************************Team-section starts************************ */
.team{
    padding: 87px 100px;
}
.team-info h2{
    font-size: 27px;
    margin-top: 24px;
}
.team-info h4{
    font-size: 21px;
    margin-bottom: 35px;
}
.team-info p{
    font-size: 14px;
    width: 485px;
    margin-bottom: 55px;
}
/* ================= Carousel Extra CSS starts ================= */
#team-pictures{
    width: 560px;
}
.item img{
    object-fit: cover;
}
#team-pictures .owl-dots{
    background-color: #ff7d8c;
    width: 145px;
    margin: 40px auto;
    padding: 12px 0;
}
.owl-theme .owl-dots .owl-dot span {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #fff;
    width: 14px;
    height: 14px;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #ff7d8c;
    border: 5px solid #fff;
}
/* ================= Carousel Extra CSS Ends ================= */

.social-icons a i{
    width: 34px;
    height: 34px;
    background-color: #ff517b;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
}
.social-icons a i:hover{
    transform: scale(1.3);
}
/* **************************Progress-section starts************************ */

.progress-section{
    padding-bottom:160px;
}
.progress-info h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
/* ************************** Manager-section starts ************************ */

.manager{
    background-image: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0,0.9)), url(../images/manager.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 535px;
    padding: 165px 0;
}
.manager-info i{
    color: #efefef;
    font-size: 60px;
    margin-bottom: 60px;
    cursor: pointer;
}
.manager-info p{
    font-size: 15px;
    font-weight: 400;
    color: #efefef;
    width: 633px;
    margin: 0 auto;
    margin-bottom: 18px;
}
.manager-info h4, .manager-info h5{
    font-size: 20px;
    font-weight: 400;
    color: #efefef;
}
.manager-info h5{
    color: #ff517b;
}
/* ************************** Features-section starts ************************ */

.features{
    padding: 78px 0 100px;
}
.features-heading{
    margin-bottom: 82px;
}
.features-heading h3{
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    color: #101010;
    margin-bottom: 16px;
}
.features-heading p{
    font-size: 14px;
    font-weight: bold;
    color: #101010;
}
.features-img{
    position: relative;
}
.features-img img:last-child{
    position: absolute;
    left: 32%;
    top: -10px;
}
.features-icon{
    width: 56px;
    height: 56px;
    border: 5px solid #eff3f7;
    border-radius: 50%;
    padding: 14px;
    cursor: pointer;
}
.features-icon i{
    font-size: 18px;
    color: #101010;
}
.features-icon:hover i{
    color: #fff;
}
.features-icon:hover{
    background-color: #ff517b;
}
.features-text{
    margin-top: 15px;
}
.features-text h4, .features-text h5{
    font-size: 14px;
    font-weight: bold;
    color: #101010;
    margin-bottom: 9px;
}
.features-text h5{
    font-weight: 400;
    margin-bottom: 22px;
}
.features-text p{
    font-size: 12px;
    font-weight: 400;
    color: #101010;
}
/* ************************** Get-In-Touch-section starts ************************ */
.get-In-Touch{
    padding: 68px 0 140px;
    background-color: #f7f7f7;
}
.tab-navBar li{
    display: inline-block;
    margin: 0 23px;
}
.tab-navBar li a{
    font-size: 14px;
    font-weight: bold;
    color: #4f4f4f;
    text-transform: uppercase;
    padding: 9px 0;
}
.tab-navBar li a.active{
    color: #000;
    border-bottom: 3px solid #ff517b;
}
/* =========================================== */
.tab-content{
    background-color: #fff;
    padding: 10px 0;
}
.tab-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tab-content-info{
    padding-left: 20px;
}
.tab-content-info h1{
    font-size: 57px;
    font-weight: bold;
    color: #4f4f4f;
    margin: 72px 0 33px;
}
.tab-content-info h3{
    font-size: 31px;
    font-weight: bold;
    color: #4f4f4f;
    margin-bottom: 45px;
}
.tab-content-info p{
    font-size: 13px;
    font-weight: 400;
    color: #4f4f4f;
    margin-bottom: 45px;
    width: 514px;
}
.tab-btn{
    background-color: #fb527a;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    padding: 21px 45px;
    border-radius: 50px;
    border: none;
}
.tab-content .tab-details{
    display: none;
}
.tab-content .active{
    display: block;
}

/* ************************** web-designer-section starts ************************ */
.web-designer{
    background: linear-gradient(to right, #00C1CA, #00C1CA, #00C1CA);
    padding: 118px 0 102px;
}
.web-info{
    padding: 75px 0 70px;
    width: 741px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}
.web-img{
    position: absolute;
    width: 90px;
    height: 90px;
    border: 5px solid #fff;
    border-top-color: #facf9a;
    border-left-color: #facf9a;
    border-radius: 50%;
    transform: rotate(45deg) translate(-42%, 38%);
    top: -10%;
    left: 50%;
    box-shadow: 6px 6px 20px 0px rgb(0 0 0 / 20%);
    overflow: hidden;
}
.web-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(-45deg);
}
.web-info p{
    font-size: 14px;
    font-style: italic;
    width: 565px;
    margin: 0 auto;
    line-height: 2;
    color: #a3a1a3;
    margin-bottom: 30px;
}
.web-info h4{
    font-size: 14px;
    color: #2f322f;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.web-info hr{
    width: 30px;
    height: 2px;
    background-color: #2f322f;
    margin: 0 auto;
    margin-bottom: 14px;
    border: none;
}
.web-info h5{
    font-size: 13px;
    font-weight: 400;
    color: #a3a1a3;
    margin-bottom: 20px;
}
.web-info li{
    display: inline-block;
}
.web-info li:first-child i{
    color: #a3a1a3;
}
/* ************************** price-card-section starts ************************ */
.price-section{
    padding: 185px 0 155px;
}
.price-card{
    padding: 50px 0 36px;
    box-shadow: 0px 7px 16px 5px rgb(0 0 0 / 20%);
    transition: all 0.3s ease-in-out;
}
.price-card:hover{
    background-color: #ff517b;
    transform: translateY(-20px);
}
.price-card:hover span, .price-card:hover h3, .price-card:hover li{
    color: #fff;
}
.price-card span{
    font-size: 17px;
    font-weight: bold;
    color: #314a5d;
    margin-bottom: 37px;
    display: inline-block;
}
.price-card h3{
    font-size: 18px;
    font-weight: bold;
    color: #313431;
    margin-bottom: 57px;
}
.price-card h3 b{
    font-size: 42px;
}
.price-card li{
    font-size: 12px;
    font-weight: 400;
    color: #979697;
    margin-bottom: 13px;
}
.price-card ul{
    margin-bottom: 30px;
}
.price-btn{
    padding: 13px 22px;
    background-color: #ff517b;
    font-size: 12px;
    color: #fdfafb;
    border: none;
    border-radius: 25px;
}
.price-card:hover .price-btn{
    background-color: #fdfafb;
    color:#ff517b;
    font-weight: bold;
}
/* ************************** Records-section starts ************************ */
.records{
    background-image: url(../images/records.png);
    padding: 150px 0 185px;
}
.records-info i{
    font-size: 50px;
    color: #fff;
    margin-bottom: 37px;
}
.records-info h2{
    font-size: 53px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 34px;
}
.records-info h4{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
/* ************************** client-section starts ************************ */

.client-section{
    padding: 76px 80px;
}
.client-details p{
    font-size: 14px;
    font-weight: 400;
    color: #181818;
    margin-bottom: 20px;
}
.client-details h3{
    font-size: 22px;
    font-weight: bold;
    color: #181818;
}
.client-details{
    margin-bottom: 80px;
}
.client-logo{
    width: 1038px;
    margin: 0 auto;
}
.owl-client-img{
    width: 125px;
    height: 97px;
}
.owl-client-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#owl-client.owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: 55px;
}
#owl-client.owl-theme .owl-dots .owl-dot span{
    background-color: #929492;
    border: 0;
}
#owl-client.owl-theme .owl-dots .owl-dot.active span, #owl-client.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #212021;
    border: 0;
}
/* ************************** News-Post-section starts ************************ */
.news-post{
    background-color: #f7f3f7;
    padding: 45px 0 50px;
}
.post-data span{
    font-size: 12px;
    font-weight: bold;
    color: #96989d;
}
.post-data i{
    font-size: 12px;
    color: #313431;
    margin-left: 10px;
}
.post-data{
    margin-bottom: 12px;
}
.post-img{
    height: 382px;
    margin-bottom: 46px;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.5);
}
.post-details img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.post-details img:hover{
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.5);
    transform: scale(1.08);
}
.post-info h5{
    font-size: 12px;
    font-weight: bold;
    color: #fb527a;
    padding-bottom: 12px;
    position: relative;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.post-info h5::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #201f20;
    left: 0;
    bottom: 0;
}
.post-info p{
    font-size: 12px;
    font-weight: 400;
    color: #5a5d5a;
}
/* ************************** Keep-in-Touch-section starts ************************ */

.keep-in-touch{
    background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url(../images/keep-in-touch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 145px 0 235px;
}
.self-heading{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
/* ************************** Form-section starts ************************ */

.form-info, .contact-info{
    padding: 57px 30px 52px;
    border-radius: 5px;
    box-shadow: 0px 8px 15px 6px rgb(0 0 0 / 25%);
    background-color: #fff;
    transform: translateY(-145px);
}
.form-info h3{
    font-size: 28px;
    font-weight: bold;
    color: #404140;
    margin-bottom: 22px;
}
.form-info p{
    font-size: 18px;
    font-weight: 400;
    color: #404140;
    margin-bottom: 45px;
}
.contact-info{
    padding: 50px 30px 50px;
    background-color: #ff517b;
    color: #fff;
}
input, textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 16px;
    border-radius: 25px;
    border: 1px solid #5a5d5a;
}
input[type='button']{
    width:122px;
    background-color: #fb527a;
    color: #fff;
    border: none;
    cursor: pointer;
}
.contact-info h4{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 42px;
}
.contact-info > p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 55px;
}
.cont-icons i{
    font-size: 25px;
}
.cont-data span{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}
.cont-data p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}
.contact.social-icons a i{
    border-radius: 25px;
    margin: 0 5px;
}

/* ************************** MyMap-section starts ************************ */

.myMap iframe{
    height: 100vh;
}
/* ************************** Footer-Expoler-section starts ************************ */

footer{
    padding: 103px 0 132px;
    background-color: #212021;
}
.explore h1{
    font-size: 52px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.explore > .social-icons a i {
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 20px;
    font-size: 25px;
    width: 70px;
    height: 70px;
    margin: 0 9px;
}
.explore p {
    color: #797774;
    text-transform: uppercase;
    font-size: 24px;
}



.sec-info h2{
    font-size: 50px;
    color: #eeeeee;
    margin-bottom: 32px;
    padding-right: 5px;
}
.sec-info p{
    color: #eeeeee;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 42px;
}
.sec-info a{
    background-color: #000;
    display: inline-block; 
    font-size: 14px;
    font-weight: bold;
    color: #eeeeee;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 17px 32px;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
}



/* Responsive Design - adaptable a dispositivos moviles*/



