*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
i{
    cursor: pointer;
}
.row, .row::after, .row::before, .tab-content
{
    clear: both;
    display: table;
    width: 100%;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.container-lg{
    width: 1180px;
    margin: 0 auto;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-9, .col-10, .col-11, .col-12{
    float: left;
    padding: 0 15px;
}
.col-1{
    width: calc((100% * 1) / 12);
}
.col-2{
    width: calc((100% * 2) / 12);
}
.col-3{
    width: 25%;
}
.col-4{
    width: calc((100% * 4) / 12);
}
.col-5{
    width: calc((100% * 5) / 12);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc((100% * 7) / 12);
}
.col-9{
    width: calc((100% * 9) / 12);
}
.col-10{
    width: calc((100% * 10) / 12);
}
.col-11{
    width: calc((100% * 11) / 12);
}
.col-12{
    width: 100%;
}
.text-center{
    text-align: center;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-18{
    margin-bottom: 18px;
}
.mb-8{
    margin-bottom: 8px;
}
button{
    cursor: pointer;
}
.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0;
}

